<?xml version="1.0"?>
<config>
	<modules>
		<TNS_HPF>
			<version>0.1.0</version>
		</TNS_HPF>
	</modules>
	<frontend>
		<routers>
			<hpf>
				<use>standard</use>
				<args>
					<module>TNS_HPF</module>
					<frontName>hpf</frontName>
				</args>
			</hpf>
		</routers>
		<layout>
			<updates>
				<hpf>
					<file>hpf.xml</file>
				</hpf>
			</updates>
		</layout>
		<translate>
			<modules>
				<TNS_HPF>
					<files>
						<default>TNS_HPF.csv</default>
					</files>
				</TNS_HPF>
			</modules>
		</translate>

	</frontend>
	<global>
		<models>
			<hpf>
				<class>TNS_HPF_Model</class>
			</hpf>
		</models>
		<blocks>
			<hpf>
				<class>TNS_HPF_Block</class>
			</hpf>
		</blocks>
		<helpers>
			<hpf>
				<class>TNS_HPF_Helper</class>
			</hpf>
		</helpers>
	</global>
	<default>
		<payment>
			<hpf>
				<active>0</active>
				<model>hpf/pay</model>
				<order_status>processing</order_status>
				<title>HPF Payment Method</title>
			</hpf>
		</payment>
	</default>
</config>